
<div class="cardArea">
  <div class="card">
    <mat-card class="g">
      <mat-card-header>
        <mat-card-title>GAMES</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>Plag Games</h1>
      </mat-card-content>
      <button class="goToSection" (click)='goToGamesSection()'>Go To Game Section</button>
    </mat-card>
  </div>
  <div class="card">
    <mat-card id="q1">
      <mat-card-header>
        <mat-card-title>QUIZ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>Brain Teaser Quizzes</h1>
      </mat-card-content>
      <button class="goToSection" (click)='goToBTQSection()'>Go To Quiz Section</button>
    </mat-card>
  </div>
  <div class="card">
    <mat-card id="q2">
      <mat-card-header>
        <mat-card-title>QUIZ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>Logical Knowledge Quizzes</h1>
      </mat-card-content>
      <button class="goToSection" (click)='goToLTQSection()'>Go To Quiz Section</button>
    </mat-card>
  </div>
  <div class="card">
    <mat-card id="q3">
      <mat-card-header>
        <mat-card-title>QUIZ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>General Knowledge Quizzes</h1>
      </mat-card-content>
      <button class="goToSection" (click)='goToGKQSection()'>Go To Quiz Section</button>
    </mat-card>
  </div>
</div>

