.full-width{
    width:80%;
}
.floatstyle{
    display:grid;
    grid-template-columns:100px 100px;
    justify-content: center;
}
.mat-card{
    text-align: center;
    min-width:200px;
}

.onleft{
    margin-right:71%;
}
.errormsg{
    color:red;
    
}

.mat-raised-button{
   text-align:center;
    width:10%;
    padding-left:1%;
    padding-right:1%;
}
