.mat-radio-button{
    margin-right: 1rem; 
 }
 
 .mat-display-3{
     padding-top: 2%;
     text-align: center;
     font-family: "Times New Roman", Times, serif;
     font-weight: bold;
     font-style: italic;
     text-decoration: underline;
 }
 .mat-card{
     background-color: lightgray;
 }
 
 .row{
     font-family: "Times New Roman", Times, serif;
     font-weight: 570;
 }
 
 mat-radio-button, mat-label{
     font-family: "Times New Roman", Times, serif;
 }
 
 #btn1{
     margin-left: 40%;
     padding-right:1%;
     margin-right: 1rem;
 }
 #btn2{
     margin-right: 40%;
     padding-right:1%;
 }
 
 .container{
     background-color:darkslategray ;
 }
 
 .mat-form-field{
     background-color: lightgray;
 }
 
 
 .gayab{
     display: none;
 }
 